@use "global" as *;

.about {
  margin-bottom: rem(80);
  @include mq("md") {
    margin-bottom: rem(0);
  }
}

.about.section {
  margin-top: rem(81);
  @include mq('md') {
  margin-top: rem(137.6);
  }
}

.about__bg-layout {
  @include mq("md") {
    padding-bottom: rem(164);
    max-width: rem(1280);
    width: 100%;
    margin: auto;
    background-image: url(../images/common/pc/coral.png);
    background-repeat: no-repeat;
    background-position: 99.7% 88.5%;
    background-size: rem(194) rem(181);
  }
}

.about__header .section-header__jatitle {
  @include mq("md") {
    margin-top: rem(1.92);
  }
}

.about__inner {
  max-width: rem(600);
  width: 100%;
  margin: auto;
  @include mq("md") {
    max-width: rem(1080);
  }
}

.about__items {
  margin-top: rem(26.56);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 2fr;
  @include mq("md") {
    margin-top: rem(39.2);
    grid-template-rows: 1fr;
  }
}

.about__bg-item1 {
  width: 37.101449275362318841%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  @include mq("md") {
    width: 37.038%;
  }
}

.about__bg-item2 {
  width: 81.5%;
  margin-top: 7.95%;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: end;
  z-index: -1;
  @include mq("md") {
    width: 81.481481481481481481%;
    margin-top: 7.3%;
  }
}

.about__body {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  @include mq("md") {
    grid-row: 1 / 2;
    justify-self: end;
    margin-top: rem(200);
    margin-right: rem(40);
    max-width: rem(840);
    display: flex;
    z-index: 2;
  }
}

.about__lead {
  font-family: $english-family;
  font-weight: $regular;
  font-size: rem(40);
  color: $main;
  line-height: 1;
  margin-top: rem(40.8);
  @include mq("md") {
    margin-top: rem(0);
    flex: 1 0 47.619047619047619048%;
    font-size: rem(80);
    line-height: 1.25;
    color: $base;
  }
}

.about__copy {
  @include mq("md") {
    margin-left: rem(38.4);
  }
}

.about__text {
  color: $font;
  margin-top: rem(16);
  @include mq("md") {
    margin-top: rem(0);
    flex: 1 0 47.619047619047619048%;
    color: $base;
  }
}

.about__link {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(39.2);
  }
}
