@use "global" as *;

.blog {
  margin-top: rem(81.6);
  @include mq("md") {
    margin-top: 0;
    padding-top: rem(100);
    position: relative;
    overflow: hidden;
  }
}

.blog:before {
  @include mq("md") {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);
    background-image: url(../images/common/pc/blog-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

.blog__inner {
  max-width: rem(600);
  width: 100%;
  margin: auto;
  @include mq("md") {
    max-width: rem(1080);
  }
}

.blog__inner.inner {
  padding-left: rem(21);
  padding-right: rem(21);
  @include mq("md") {
    padding-left: rem(25);
    padding-right: rem(25);
  }
}

.blog__header {
  text-align: center;
}

.blog__engtitle {
  display: inline-block;
  font-family: $english-family;
  font-weight: $regular;
  font-size: rem(32);
  line-height: 1.25;
  color: $font;
  @include mq("md") {
    color: $base;
    font-size: rem(40);
  }
}

.blog__engtitle-reverse {
  color: $main;
  @include mq("md") {
    color: $base;
  }
}

.blog__jatitle {
  font-size: rem(12);
  color: $main;
  line-height: 1;
  margin-top: rem(6.4);
  @include mq("md") {
    color: $base;
    margin-top: rem(5.6);
  }
}

.blog__items {
  margin-top: rem(30.88);
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: rem(83.2);
  }
}

.blog__item {
  margin: auto;
  @include mq("md") {
    margin: 0;
  }
}

.blog__item + .blog__item {
  margin-top: rem(39.2);
  @include mq("md") {
    margin-top: 0;
  }
}

.blog__link {
  margin-top: rem(40);
  text-align: center;
  padding-bottom: rem(1);
  @include mq("md") {
    margin-top: rem(79.2);
  }
}

.blog__img-icon {
  position: absolute;
  width: rem(437);
  top: rem(24);
  left: calc(50% - min(48%, rem(600)));
}
