@use "global" as *;

.campaign {
  margin-top: rem(40);
}

.campaign__inner {
  @include mq("md") {
    margin-top: rem(41.6);
    max-width: calc(50vw + rem(568));
    padding: rem(70) 0 0 0;
    margin-left: auto;
  }
}

.campaign__header {
  margin-bottom: rem(28.8);
  padding-right: rem(14);
  @include mq("md") {
    margin-bottom: rem(40);
    padding-right: rem(176);
    padding-top: rem(4);
  }
}

.campaign__header .section-header__jatitle {
  @include mq("md") {
    margin-top: rem(2.2);
    padding-right: 0;
  }
}

.campaign__slider {
  margin-top: rem(24);
  padding-left: rem(15);
  box-sizing: content-box;
  overflow: hidden;
  @include mq("md") {
    margin-top: 0;
    padding-left: rem(25);
  }
}

.campaign__slider swiper {
  visibility: visible;
}

.campaign__slide {
  width: max-content;
}

.campaign__link {
  padding: 0 rem(15);
  text-align: center;
  margin-top: rem(28);
  margin-left: rem(-1.5);
  @include mq("md") {
    margin-top: rem(71.2);
    margin-left: rem(-8);
  }
}

.campaign__link .button {
  margin-left: rem(-3);
  @include mq("md") {
    margin-left: rem(2);

  }
}
