@use "global" as *;

.contact {
  background: url(../images/common/pc/fish-illust_2.png) no-repeat;
  background-position: 94.5% 2.2%;
  background-size: rem(109) rem(50);
  position: relative;
  @include mq("md") {
    background-size: rem(301) rem(138);
    background-position: 95.5% 6%;
  }
}

.contact__inner {
  padding-top: rem(41.6);
  padding-bottom: rem(100);
  @include mq("md") {
    padding-top: rem(71.2);
    padding-bottom: rem(160);
  }
}

.contact__wrapper {
  @include mq("md") {
    display: flex;
    max-width: rem(1080);
    align-items: center;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25);
    padding: rem(80) 10.3037% rem(80) rem(50);
    position: relative;
  }
}

.contact__wrapper::before {
  @include mq("md") {
    content: "";
    position: absolute;
    left: calc(50% + 31px);
    border-left: 1px solid $main; /* 縦線のスタイルを設定 */
    height: 61.5%; /* 高さを親要素と同じに設定 */
  }
}

.contact__left {
  @include mq("md") {
    flex: 1 0 37.037037%;
    // padding-right: rem(82);
  }
}

.contact__content {
  margin-top: rem(13.6);
  text-align: center;
  @include mq("md") {
    display: flex;
    margin-top: 0;
  }
}

.contact__address {
  position: relative;
  @include mq("md") {
    position: static;
  }
}

.contact__address span {
  position: absolute;
  left: calc(50% - rem(34));
  top: 0;
  transform: translateX(-25%);
  @include mq("md") {
    position: static;
  }
}

.contact__logo {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央寄せ */
  text-align: center; /* テキストも中央寄せ */
  text-align: justify;
  @include mq("md") {
    width: rem(440);
  }
}

.contact__logo img {
  width: rem(180);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    width: rem(200);
  }
}

.contact__logo::after {
  content: ""; /* 仮想要素を使用して下線を追加 */
  display: block;
  border-bottom: 1px solid $main; /* 下線のスタイルを設定 */
  width: 85.5%; /* 下線の幅を設定 */
  margin: rem(-3) auto 0; /* 横方向に中央寄せ */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    width: 100%;
    box-shadow: none;
    margin-top: rem(6);
  }
}

.contact__store-info {
  line-height: 1.75;
  letter-spacing: 0.0016em;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    text-align-last: left;
    margin-right: rem(21);
    margin-top: rem(24);
    text-shadow: none;
  }
}

.contact__address {
  font-style: normal;
  font-weight: $regular;
}

.contact__img {
  display: inline-block;
  margin-top: rem(14.4);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    margin-top: rem(24);
    max-width: rem(273);
    aspect-ratio: 273/148;
    overflow: hidden;
    box-shadow: none;
  }
}

.contact__img img {
  width: rem(295);
}

.contact__right {
  margin-top: rem(34.4);
  @include mq("md") {
    margin-top: rem(0);
    flex: 1 0 29.166666%;
    padding-left: 11.5%;
  }
}

.contact__header {
  text-align: center;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    text-shadow: none;
  }
}

.contact__engtitle {
  font-family: $english-family;
  font-weight: $regular;
  font-size: rem(80);
  line-height: 1;
  color: $font;
}

.contact__engtitle-reverse {
  color: $main;
}

.contact__jatitle {
  font-family: $base-font-family;
  font-weight: $regular;
  font-size: rem(12);
  line-height: 1;
  color: $main;
  margin-top: rem(-2);
}

.contact__text {
  font-size: rem(14);
  color: $main;
  margin-top: rem(11.2);
  line-height: 1.2857142857142857143;
}

.contact__link {
  text-align: center;
  margin-top: rem(40.8);
}

.contact__link .button__under {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  @include mq("md") {
    box-shadow: none;
  }
}

.contact__link .button {
  left: rem(-2);
}
