@use "global" as *;

.main-visual {
  position: relative;
}

.main-visual__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 10;
}

.main-visual__title {
  display: inline-block;
  font-family: $english-family-2nd;
  font-weight: $regular;
  font-size: rem(40);
  color: $base;
  // 中央寄せはtext-indentとletter-spacingの値を合わせる
  text-indent: 0.54em;
  letter-spacing: 0.54em; // 単位はemで
  line-height: 1.26;
  // letter-spacing分左へ
  margin-top: rem(-6.4);
  @include mq("md") {
    font-size: rem(80);
    letter-spacing: rem(42.5);
  }
}

.main-visual__lead {
  font-family: $english-family;
  font-weight: $regular;
  font-size: rem(20);
  color: $base;
  letter-spacing: rem(0.0384);
  margin-top: rem(6.08);
  margin-left: rem(-1);
  line-height: 1;
  @include mq("md") {
    margin-top: rem(6.4);
  }
}

.main-visual-img {
  width: 100%;
  height: 100vh;
}

.main-visual__img--1 {
  background-image: url(../images/common/mv-sp_1.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  @include mq("md") {
    background-image: url(../images/common/pc/mv-pc_1.jpg);
  }
}

.main-visual__img--2 {
  background: url(../images/common/mv-sp_2.jpg) no-repeat top center / cover;
  @include mq("md") {
    background-image: url(../images/common/pc/mv-pc_2.jpg);
  }
}

.main-visual__img--3 {
  background: url(../images/common/mv-sp_3.jpg) no-repeat top center / cover;
  @include mq("md") {
    background-image: url(../images/common/pc/mv-pc_3.jpg);
  }
}

.main-visual__img--4 {
  background: url(../images/common/mv-sp_4.jpg) no-repeat top center / cover;
  @include mq("md") {
    background-image: url(../images/common/pc/mv-pc_4.jpg);
  }
}
