@use "global" as *;

.price {
  background-color: #ddf0f1;
  @include mq("md") {
    background: #ddf0f1 url(../images/common/pc/fish-illust_2.png) no-repeat;
    background-position: 10% 94%;
    background-size: 437px 201px;
  }
}

.price__inner {
  padding: rem(80) 0;
  @include mq("md") {
    padding-top: rem(96);
    padding-bottom: rem(100);
  }
}

.price__header .section-header__engtitle {
  @include mq("md") {
    margin-left: rem(-5.3);
  }
}

.price__header .section-header__jatitle {
  @include mq("md") {
    margin-top: rem(2.4);
    margin-left: rem(-5.3);
  }
}

.price__wrapper {
  margin-top: rem(27.2);
  display: flex;
  flex-direction: column-reverse;
  @include mq("md") {
    flex-direction: row;
    margin-top: rem(40.8);
    max-width: rem(1077);
    overflow: hidden;
  }
}

.price__img {
  @include mq("md") {
    flex: 1 0 rem(492);
    margin-left: 8.6350974930362116992%;
  }
}

.price__img img {
  @include mq("md") {
    max-width: rem(492);
    height: auto;
  }
}

.price__items {
  margin-top: rem(35.84);
  @include mq("md") {
    flex: 1 0 rem(492);
    margin-top: 0;
  }
}

.price__table + .price__table {
  margin-top: rem(30.8);
  @include mq("md") {
    margin-top: rem(36);
  }
}

.price__link {
  margin-top: rem(36);
  text-align: center;
  @include mq("md") {
    margin-top: rem(80);
    margin-left: rem(1);
  }
}

.price__link .button {
  left: rem(-2);
  @include mq("md") {
    left: rem(-4);
  }
}
