@use "global" as *;

.voice {
  margin-top: rem(40.8);
  height: auto;
  @include mq("md") {
    position: relative;
  }
}

.voice__bg-img {
  @include mq("md") {
    content: "";
    position: absolute;
    left: 7%;
    top: -16.7%;
    width: rem(301);
    height: rem(138);
    background: transparent url(../images/common/pc/fish-illust.png) no-repeat
      center center / contain;
    z-index: 1;
  }
}

.voice__inner {
  max-width: rem(600);
  width: 100%;
  margin: auto;
  padding-bottom: rem(40);
  @include mq("md") {
    max-width: rem(1080);
    padding-bottom: rem(70);
  }
}

.voice__header .section-header__engtitle {
  line-height: 1.25;
  @include mq("md") {
    margin-top: rem(-1);
    margin-left: rem(-1);
  }
}

.voice__header .section-header__jatitle {
  @include mq("md") {
    margin-top: rem(3);
  }
}

.voice__items {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  margin-top: rem(42.4);
  @include mq("md") {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: rem(40);
    margin-top: rem(28.16);
  }
}

.voice__item {
  margin: 0 auto;
  @include mq("md") {
    margin: 0;
    width: calc((100% - 40px) / 2);
  }
}

.voice__link {
  text-align: center;
  margin-top: rem(40.8);
  margin-left: rem(-2);
  @include mq("md") {
    margin-top: rem(40);
    margin-top: rem(80);
  }
}

.voice__link .button {
  margin-left: rem(-2);
  @include mq("md") {
    margin-left: rem(-5);
  }
}

.voice__bg-img--2 {
  @include mq("md") {
    content: "";
    position: absolute;
    right: 12.5%;
    bottom: 0.2%;
    width: rem(71);
    height: rem(162);
    background: transparent url(../images/common/pc/seahorse-illust.png)
      no-repeat center center / contain;
    z-index: 1;
  }
}
