@use "global" as *;

.voice {
  margin-top: rem(81.6);
  @include mq("md") {
    margin-top: 0;
    position: relative;
  }
}

.voice__inner {
  max-width: rem(600);
  width: 100%;
  margin: auto;
  @include mq('md') {
  max-width: rem(1080);
  }
}

.voice__header .section-header__jatitle {
  @include mq("md") {
    margin-top: rem(3);
  }
}

.voice__items {
  display: flex;
  flex-direction: column;
  gap: rem(40);
  margin-top: rem(42.4);
  @include mq("md") {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: rem(40);
    margin-top: rem(28.16);
  }
}

.voice__item {
  margin: 0 auto;
  @include mq("md") {
    margin: 0;
    width: calc((100% - 40px) / 2);
  }
}

.voice__link {
  text-align: center;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.voice__link .button {
  margin-left: rem(-2);
  @include mq("md") {
    margin-left: rem(-5);
  }
}

.voice__img-icon {
  width: rem(301);
  position: absolute;
  top: rem(-120);
  left: calc(50% - min(48%, rem(620)));
}

.voice__img-icon2 {
  width: rem(71);
  position: absolute;
  bottom: rem(-70);
  right: calc(50% - min(48%, rem(540)));
}