@use "global" as *;

.blog-cards {
  @include mq("md") {
    display: grid;
    gap: rem(40);
    grid-template-columns: repeat(3, 1fr);
  }
}

.blog-cards__item + .blog-cards__item {
  margin-top: rem(39.2);
  @include mq("md") {
    margin-top: 0;
  }
}

.blog-cards--2col {
  width: 100%;
  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(78.4) rem(40);
  }
}
