@use "global" as *;

.category-list {
}

.category-list__items {
  display: grid;
  grid-template-columns: repeat(2, rem(162));
  grid-template-rows: repeat(2 1fr);
  gap: rem(16) rem(20);
  justify-content: center;
  @include mq("md") {
    grid-template-columns: repeat(4, rem(162));
    grid-template-rows: 1fr;
    gap: 32px;
    justify-content: start;
  }
}

.category-list__item-link:hover.category {
  background-color: $main;
  color: $base;
}

.category-list__item-link.is-show.category {
  background-color: $main;
  color: $base;
}