@use "global" as *;

.page-price__inner {
  padding: 0 rem(15);
  @include mq("md") {
    padding: 0 rem(25);
  }
}

.page-price__price-list {
  max-width: rem(500);
  width: 100%;
  margin: auto;
  box-sizing: content-box;
  @include mq("md") {
    max-width: rem(700);
  }
}

.page-price__courses {
  width: 100%;
  @include mq("md") {
    display: flex;
  }
}

.page-price__courses + .page-price__courses {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.page-price__header {
  background-color: $main;
  @include mq("md") {
    flex: 1 1 28.571428%;
    align-self: stretch;
    position: relative;
  }
}

.page-price__header-content {
  padding: rem(8);
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  @include mq("md") {
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    text-align: center;
  }
}

.page-price__course {
  color: $base;
  font-size: rem(16);
  font-weight: $bold;
  margin-left: rem(8);
  @include mq("md") {
    margin-left: 0;
  }
}

.page-price__icon {
  width: rem(24);
  @include mq("md") {
    margin: rem(8) auto 0;
    width: rem(64);
  }
}

.page-price__icon img {
  display: block;
  width: 100%;
  height: auto;
}

.page-price__course-list {
  flex: 1 1 71.428571%;
}

.page-price__corse-menus {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  border-bottom: none;
}

.page-price__corse-menus:nth-of-type(1) {
  border-top: rem(1) solid $main;
}

.page-price__corse-menus dt {
  padding: rem(5) rem(8) rem(5) rem(16);
  width: 69.565217%;
  height: rem(60);
  border-right: rem(1) solid $main;
  border-left: rem(1) solid $main;
  border-bottom: rem(1) solid $main;
  text-align: center;
  align-self: center;
  @include mq("md") {
    width: 68%;
    text-align: left;
    padding-top: rem(17);
    padding-bottom: rem(18);
  }
}

.page-price__corse-menus--mt dt {
  padding-top: rem(17);
  padding-bottom: rem(18);
}

.page-price__corse-menus dd {
  padding: rem(17) rem(16) rem(18) rem(8);
  width: calc(100% - 69.565217%);
  height: rem(60);
  border-right: rem(1) solid $main;
  border-bottom: rem(1) solid $main;
  text-align: right;
  align-self: center;
  @include mq("md") {
    width: calc(100% - 68%);
  }
}
