@use "global" as *;

.page-about {
  position: relative;
}

page-about .about__contents--page {
  top: rem(100);
}

.page-about__img-wrapper {
  position: relative;
  @include mq("md") {
    margin-top: rem(120);
  }
}

.page-about__img-left {
  display: none;
  @include mq("md") {
    display: block;
    top: rem(-26);
    left: rem(0);
    z-index: 1;
    position: absolute;
    width: 37.038%;
    top: rem(-80);
  }
}

.page-about__img-right {
  width: 100%;
  @include mq("md") {
    width: 81.5%;
    margin-left: auto;
  }
}

.page-about__contents {
  position: absolute;
  top: rem(24);
  left: rem(24);
  z-index: 2;
  box-sizing: content-box;
  @include mq("md") {
    width: 100%;
    top: rem(146);
    left: calc(50% + rem(88));
    transform: translateX(-50%);
    display: flex;
    max-width: rem(840);
    padding-right: rem(20);
    align-items: center;
  }
}

.page-about__lead {
  font-family: $english-family;
  font-weight: $regular;
  font-size: rem(40);
  line-height: 1;
  color: $base;
  @include mq("md") {
    margin-top: rem(0);
    flex: 1 0 47.619047619047619048%;
    font-size: rem(80);
    line-height: 1.25;
  }
}

.page-about__copy {
  @include mq("md") {
    margin-left: rem(38.4);
  }
}

.page-about__text {
  color: $font;
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(0);
    flex: 1 0 47.619047619047619048%;
    color: $base;
  }
}
