@use "global" as *;

.page-thanks__inner {
  padding: 0 rem(15);
  @include mq("md") {
    padding: 0 rem(25);
  }
}

.page-thanks__message {
  max-width: 622px;
  width: 100%;
  margin: auto;
  text-align: center;
}


.page-thanks__complete {
  text-align: center;
  line-height: 1.125;
}

.page-thanks__text {
  margin-top: rem(40);
}