@use "global" as *;

.page-sidebar {
}

.page-sidebar__contents {
  max-width: rem(294);
  width: 100%;
  margin: auto;
}

.page-sidebar__articles {
  margin-top: rem(30);
}

.page-sidebar__article + .page-sidebar__article {
  margin-top: rem(24);
}

.page-sidebar__articles .card-02 {
  padding: rem(16);
}

.page-sidebar__articles .card-02__link {
  display: flex;
  gap: rem(16);
}

.page-sidebar__comment-card {
  margin-top: rem(30);
}

.page-sidebar__articles .card-02__img {
  width: 49.186991869918699187%;
  height: rem(90);
  overflow: hidden;
}

.page-sidebar__articles .card-02__img img {
  display: block;
  width: 100%;
  height: rem(90);
  object-fit: cover;
}

.page-sidebar__articles .card-02__header {
  margin: 0;
  padding: 0;
  border-bottom: none;
  width: 50.813008130081300813%;
}

.page-sidebar__comment-image {
  overflow: hidden;
  aspect-ratio: 294 / 218;
}

.page-sidebar__comment-image img {
  width: 100%;
  height: auto;
}

.page-sidebar__comment-attribute {
  color: $font;
  font-size: rem(12);
  line-height: 1.5;
  margin-top: rem(16);
}

.page-sidebar__comment-title {
  color: $font;
  font-size: rem(24);
  font-weight: $normal;
  line-height: 1.5;
  margin-top: rem(8);
}

.page-sidebar__comment-link {
  text-align: center;
  margin-top: rem(44);
}

.page-sidebar__campaign-link {
  text-align: center;
  margin-top: rem(40);
}

.page-sidebar__campaign-cards {
  margin-top: rem(30);
}

.page-sidebar__campaign-card + .page-sidebar__campaign-card {
  margin-top: rem(40);
}

.page-sidebar__archive-list {
  margin-top: rem(24);
}

.page-sidebar__month,
.page-sidebar__year {
  color: $main;
  font-size: 24px;
  line-height: 1;
  position: relative;
}

.page-sidebar__year {
  margin-left: rem(32);
}

.page-sidebar__year:not(:first-of-type) {
  margin-top: rem(8);
}

.page-sidebar__month {
  display: none;
  margin-left: rem(56);
  margin-top: rem(4);
}

.page-sidebar__month-item a {
  display: block;
  padding: rem(6) 0;
}

.page-sidebar__month-item {
  position: relative;
}

.page-sidebar__month-item::before,
.page-sidebar__year::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: rem(11) 0 rem(11) rem(18);
  border-color: transparent transparent transparent $main;
  position: absolute;
  top: 0;
  left: rem(-32);
  bottom: 0;
  margin: auto;
  transition: transform 0.3s ease 0s;
}

.page-sidebar__archive-list.is-open .page-sidebar__year::before {
  transform: rotate(90deg);
}