@use "global" as *;

.legal-document__inner {
  padding: 0 rem(15);
  max-width: rem(600);
  width: 100%;
  margin: auto;
  color: $font;
  line-height: 2;
  @include mq("md") {
    padding: 0 rem(25);
    max-width: rem(800);
  }
}

.legal-document__title {
  color: $font;
  font-size: rem(24);
  font-weight: $normal;
  line-height: 1;
  @include mq("md") {
    font-size: rem(32);
  }
}

.legal-document__text {
  margin-top: rem(40);
}

.legal-document__list {
  margin-top: rem(40);
}

.legal-document__list .legal-document__item {
  margin-left: rem(15);
  list-style-type: decimal;
}

.legal-document__list-point > .legal-document__item {
  position: relative;
  margin-left: rem(14);
}

.legal-document__list-point > .legal-document__item::before {
  content: "・";
  position: absolute;
  top: 0;
  left: rem(-18);
}
